include /layouts/base.pug
block content
    div.author-row
        img(src="img/author.png", alt="")
        p.author-row__name Ethan Miller
        p.author-row__position (Chief Editor)
        time(datetime="2025-04-25").author-row__time
            span Last update:
            | April 25, 2025
