//- @defaultData = bonusCards[0]
//- @mixin
include /components/fragments/button.pug
include /mixins/icons.pug
mixin bonusCard(item)
    li.bonus-card
        img(src=`img/${item.img}` alt="")
        span.bonus-card__rating(style=`--rating: ${item.rate};`)= item.rate
        p.bonus-card__provider= item.provider
        p.bonus-card__bonus= item.bonus
        if(item.btn)
            +button(item.btn.modificator, item.btn.text)
