//- @mixin
mixin button(modificator, text, svgItem, svgEnd)
    button(
        class=`btn sf-link ${modificator}` 
        data-sf-a="aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8="
    )   
        if svgItem
            include ../../mixins/icons.pug
            +icon(svgItem)
        != text
        if svgEnd
            include ../../mixins/icons.pug
            +icon(svgEnd)