section.wrapper.content-img
    img(src="img/content-img.png", alt="")
    .content-img__content 
        h2 Sugar Rush Gameplay Experience
        p 
            a(href="#") Sugar Rush 
            | online was designed and launched in 2019 by Pragmatic  Play, a well-known software development company specializing in creating online casino games. It quickly became a popular game, with several sequels.
        p Sugar Rush online was designed and launched in 2019 by Pragmatic Play, a well-known software development.
        +button('btn--primary', 'Play now')
