@use "./media" as *;
@use "sass:math";
$font-size-default: 16;

@function rem($pxValue) {
    @return math.div($pxValue, $font-size-default) + rem;
}
@mixin font-h1() {
    font-size: rem(32);
    line-height: 120%;
    font-weight: 600;

    @include media-max-sm {
        font-size: rem(26);
        line-height: 130%;
    }
}

@mixin font-h2() {
    font-size: rem(26);
    line-height: 130%;
    font-weight: 600;

    @include media-max-sm {
        font-size: rem(22);
    }
}

@mixin font-h3() {
    font-size: rem(22);
    line-height: 130%;
    font-weight: 500;

    @include media-max-sm {
        font-size: rem(20);
        line-height: 140%;
    }
}

@mixin font-h4() {
    font-size: rem(20);
    line-height: 140%;
    font-weight: 500;

    @include media-max-sm {
        font-size: rem(18);
        line-height: 150%;
    }
}

@mixin font-xl-medium() {
    font-size: rem(20);
    line-height: 140%;
    font-weight: 500;

    @include media-max-sm {
        font-size: rem(18);
        line-height: 150%;
    }
}

@mixin font-lg() {
    font-size: rem(18);
    line-height: 150%;
    font-weight: 400;

    @include media-max-sm {
        font-size: rem(16);
    }
}

@mixin font-lg-fix() {
    font-size: rem(18);
    line-height: 150%;
    font-weight: 400;
}

@mixin font-lg-medium-fix() {
    font-size: rem(18);
    line-height: 150%;
    font-weight: 500;
}

@mixin font-m() {
    font-size: rem(16);
    line-height: 150%;
    font-weight: 400;
}

@mixin font-m-medium() {
    font-size: rem(16);
    line-height: 150%;
    font-weight: 500;
}

@mixin font-m-semibold() {
    font-size: rem(16);
    line-height: 150%;
    font-weight: 600;
}

@mixin font-s() {
    font-size: rem(14);
    line-height: 150%;
    font-weight: 400;
}

@mixin font-s-bold() {
    font-size: rem(14);
    line-height: 150%;
    font-weight: 600;
}
