@use "../settings" as *;

.banner {
    padding: 24px;
    border-radius: var(--card-radius, 20px);
    background: linear-gradient(90deg, #6b64ff 0%, #b36cff 100%);
    overflow: hidden;
    color: #fff;

    @include flex(row, center, flex-start, 48px);

    &__content {
        @include flex(column, flex-start, center, 16px);

        h2,
        p {
            margin: 0;
        }
    }

    img {
        margin: 0;
    }

    h2 {
        color: #fff;
        margin: 0;
    }

    @include media-max-mlg {
        background: linear-gradient(180deg, #6b64ff 0%, #b36cff 100%);
        flex-direction: column;
        img {
            width: 100%;
        }
    }

    @include media-max-md {
        gap: 24px;
        &__content {
            .btn {
                width: 100%;
            }
        }
    }

    @include media-max-sm {
        padding: 16px;
    }
}
