@use "../settings" as *;

.footer {
    position: relative;
    padding-block: 48px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px 48px;
    border-radius: 0;

    max-width: 100%;
    padding-inline: calc((100vw - var(--width-container)) / 2);

    @include mediaMax(1420px) {
        margin: 0;
        padding-inline: var(--offsets, 20px);
    }

    & > * {
        grid-column: 1 / -1;
    }

    &__row {
        @include flex(row, center, space-between, 16px);
    }

    &__nav {
        width: 100%;
        padding-block: 24px;
        border-top: 1px solid var(--line-color, #e4ebed);
        border-bottom: 1px solid var(--line-color, #e4ebed);

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px;

            @include media-max-mlg {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-max-sm {
                grid-template-columns: 1fr;
            }

            a {
                color: var(--text-main, #2b2b2b);
                @include transition(color);

                @include hoverActiveFocus {
                    color: var(--link-color-hover, #3b8ffe);
                }
            }
        }
    }

    a.footer__logo {
        justify-self: flex-start;
        @include hoverOpacity;
    }

    &__logos {
        @include flex(row, center, flex-start, 20px);
        flex-wrap: wrap;

        padding-top: 24px;
        border-top: 1px solid var(--line-color, #e4ebed);

        li {
            max-width: 100%;
        }

        img,
        svg {
            max-width: 100%;
            max-height: 48px;
        }
    }

    &__soc {
        color: var(--text-main, #2b2b2b);

        &-list {
            margin-top: 12px;
            @include flex(row, center, flex-start, 16px);
            flex-wrap: wrap;
        }

        &-link {
            display: block;
            @include hoverOpacity;
        }
    }

    &__copyright {
        @include font-s;
    }

    @include media-min-mlg {
        &__soc {
            grid-column: 1 / 2;
        }
        &__info {
            grid-column: 2 / 3;
        }
    }

    @include media-max-sm {
        padding-block: 32px;
    }
}
