include /layouts/base.pug
footer.footer.wrapper
    .footer__row 
        a.footer__logo(href="/")
            img(src="img/logo.png" alt="") 
        img(src="img/18+.png" alt="") 

    nav.footer__nav 
        ul.footer__nav-list 
            each item in footerMenu 
                li.footer__nav-item 
                    a.footer__nav-link(href= item.link, class=`${item.class ? item.class : ""}`)= item.title

    .footer__soc 
        | Follow us
        ul.footer__soc-list 
            li.footer__soc-item 
                a.footer__soc-link(href="/")
                    +icon("x")
            li.footer__soc-item
                a.footer__soc-link(href="/") 
                    +icon("tg")
            li.footer__soc-item
                a.footer__soc-link(href="/") 
                    +icon("inst")
            li.footer__soc-item
                a.footer__soc-link(href="/") 
                    +icon("fb")

    .footer__info
        p The information on site is for general information about slot Sweet Bonanza. This site are not responsible for information accuracy provided and any financial loss resulting from the use of information in this site, despite our effort to keep the information on the website up to date.
        p Visitors must find out about the legislation and taxation in their country of residence regarding casino games.
    if footerLogos
        ul.footer__logos    
            each item in footerLogos 
                li  
                    img(src=`${item}`, alt="")
    p.footer__copyright  Copyright © 1win. All rights reserved.
