include /layouts/base.pug
block content
    section.wrapper.section-hero
        h1 Sugar Rush Slot Online
        span.section-hero__rating(style="--rating: 4.8;") 4.8
        .section-hero__demo(style="background-image: url('img/sugar-rush.png')") 
            .section-hero__btns 
                +button("btn--primary", "Play for real money")
                +button("btn--secondary js-open__modal", "Play Demo")
        p Online slots are digital versions of classic slot machines found in brick-and-mortar casinos. They operate through digital platforms accessible from internet-connected devices. Like their physical counterparts, online slots are very popular thanks to their variety of themes and bonuses.
        p Online slots are digital versions of classic slot machines found in brick-and-mortar casinos. They operate through digital platforms accessible from internet-connected devices.
        include /components/fragments/author-row.pug 
