section.sidebar.wrapper 
    .sidebar-info 
        img(src="img/sugar-rush-1.png" alt="")
        table.sidebar-info__table 
            tbody.sidebar-info__tbody
                tr.sidebar-info__tr
                    td Software
                    td Pragmatic Play
                tr.sidebar-info__tr
                    td Release Date
                    td 30.06.2022
                tr.sidebar-info__tr
                    td RTP
                    td 96,5%
                tr.sidebar-info__tr
                    td Max Win
                    td x5000
                tr.sidebar-info__tr
                    td Volatility
                    td Medium
                tr.sidebar-info__tr
                    td Number of Reels
                    td 7
                tr.sidebar-info__tr
                    td Betways
                    td 20
    .sidebar-bonus 
        img(src="img/1win-small.png" alt="")

        p.sidebar-bonus__title  1win Casino
            span.sidebar-bonus__rating(style="--rating: 4.8;") 4.8

        p.sidebar-bonus__bonus Welcome Bonus 100% up to €500 + 200 FS
        +button("btn--primary", "Play for real money")

    .last-winners   
        p.last-winners__title Winning now
        ul.last-winners__list 
            li.last-winners__item 
                span.last-winners__item-index 1
                | Nick***12
                span.last-winners__item-sum $500
            li.last-winners__item 
                span.last-winners__item-index 2
                | Nick***12
                span.last-winners__item-sum $500
            li.last-winners__item 
                span.last-winners__item-index 3
                | Nick***12
                span.last-winners__item-sum $500
            li.last-winners__item 
                span.last-winners__item-index 4
                | Nick***12
                span.last-winners__item-sum $500
            li.last-winners__item 
                span.last-winners__item-index 5
                | Nick***12
                span.last-winners__item-sum $500
