doctype html
html(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title all components
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet",  href=cssPath)
    body
        include ../components/blocks/header.pug
        include /layouts/base.pug

        main.sidebar-grid
            include /components/blocks/section-hero.pug

            include /components/blocks/sidebar.pug

            include /components/fragments/toc-section.pug
            section.wrapper 
                h2 Most Popular Free Slots
                ul.scroll-list.js-scroll-list
                    each item in slotCards
                        +slotCard(item)
            
            section.wrapper
                h2 Bonuses
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                ul.grid-block 
                    each item in bonusCards
                        +bonusCard(item)

            include /components/fragments/content-img.pug

            section.wrapper 
                h2 Table
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                +table(table, true)
               
            section.wrapper 
                h2 Basic Information
                +table(table1, false)

            section.wrapper 
                h2 Top 10 Casinos
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                +listing(listing)

            section.wrapper 
                h2 Screenshots
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                ul.scroll-list.js-scroll-list
                    each item in slotCards
                        +slotCard(item)

            section.wrapper 
                h2 Screenshots
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                +gallery(gallery)

            section.wrapper 
                h2 Screenshots
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                +gallery(gallery1)

            section.wrapper 
                h2 How to
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                +howTo(howTo)
            
            section.wrapper 
                h2 Sugar Rush Slot Paytable & Symbols
                p Sugar Rush online was designed and launched in 2019 by Pragmatic Play, a well-known software development company specializing in creating online casino games. It quickly became a popular game, with several sequels.
                include /components/fragments/symbol-cards.pug

            include /components/blocks/banner.pug

            section.wrapper
                h2  Sugar Rush Gameplay Experience
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                h3 List
                ul 
                    li Bet on outcomes of virtual football matches;
                    li Predict the winner of a virtual tennis match;
                    li Bet on outcomes of virtual football matches;
                ol  
                    li Predict the winner of a virtual tennis match;
                    li Stake on virtual basketball game results;
                    li Choose which virtual dog will cross the finish line first and which will cross the other.
                +button("btn--primary", "Play now")
            
            section.wrapper 
                h2 Pros and cons
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                +prosCons(prosCons)

            include ../components/blocks/section-faq.pug 

        include ../components/fragments/go-up.pug
        include ../components/blocks/footer.pug
        include ../components/fragments/mob-btn.pug

        script(src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src=jsPath, type=jsType ? 'module' : undefined)
