doctype html
html(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title main page
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet",  href=cssPath)
    body
        include ../components/blocks/header.pug

        main
            include /components/blocks/section-hero.pug
            include /components/fragments/toc-section.pug
            section.wrapper 
                h2 Most Popular Free Slots
                ul.scroll-list.js-scroll-list
                    include /components/fragments/slot-card.pug
                    each item in slotCards
                        +slotCard(item)
            
            section.wrapper
                h2 Bonuses
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                ul.grid-block 
                    include /components/fragments/bonus-card.pug
                    each item in bonusCards
                        +bonusCard(item)

            include /components/fragments/content-img.pug

            section.wrapper 
                h2 Table
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                include /components/fragments/table.pug
                +table(table, true)


            include ../components/blocks/section-faq.pug 

        include ../components/fragments/go-up.pug
        include ../components/blocks/footer.pug
        include ../components/fragments/mob-btn.pug
        +mobBtn(mobBtn)

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src=jsPath, type=jsType ? 'module' : undefined)
