@use "../settings" as *;

.btn {
    cursor: pointer;
    overflow: hidden;
    padding: 12px 48px;
    border-radius: var(--button-radius, 36px);

    @include transition(#{background, box-shadow, color, border-color});

    @include relative;
    @include flex(row, center, center, 8px);

    @include size(max-content);
    @include maxSize(100%);

    background: var(--button-bg, #ff638f);
    color: var(--button-color, #fff);

    svg {
        @include minSize(18px, 18px);
        @include maxSize(24px, 48px);
        path {
            fill: currentColor;
        }
    }

    &[disabled],
    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    &--primary {
        background: var(--button-bg, #ff638f);
        color: var(--button-color, #fff);

        @include hoverActiveFocus {
            background: var(--button-hover-bg, #fd337d);
        }
    }

    &--secondary {
        color: var(--secondary-button-color, #fff);
        background: var(--secondary-button-bg, #4ca8ff);

        @include hoverActiveFocus {
            background: var(--secondary-button-hover-bg, #3b8ffe);
        }
    }

    &--s {
        padding: 10px 16px;
    }
}
