@use "../settings" as *;

.go-up {
    @include flex(row, center, center);
    @include size(44px, 44px);

    @include fixed($bottom: 80px, $right: 32px);
    z-index: $z-index-go-up;

    border-radius: 50%;
    background: var(--button-bg, #ff638f);

    cursor: pointer;
    overflow: hidden;

    @include transition(background);

    &:not(.active) {
        display: none;
    }

    @include media-max-sm {
        @include fixed($bottom: 100px, $right: 16px);
    }

    @include hover {
        background: var(--button-hover-bg, #fd337d);
    }

    svg {
        @include maxSize(40px, 40px);
    }
}
