@use "../settings" as *;

.pros-cons {
    @include flex(row, stretch, flex-start, 24px);
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }

    &__item {
        flex: 1;
        @include flex(column, stretch, flex-start, 12px);

        &--pros {
            .pros-cons__title {
                border-color: var(--pros, #08d4ab);
            }
            .pros-cons__list li::before {
                content: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y=".667" width="16" height="16" rx="8" fill="%2308D4AB"/><path d="M11.473 5.917a.5.5 0 0 0-.353.16l-4.403 4.57-1.835-1.905a.5.5 0 0 0-.365-.162.5.5 0 0 0-.37.156.53.53 0 0 0-.147.373.53.53 0 0 0 .154.368l2.2 2.284a.505.505 0 0 0 .727 0l4.767-4.949a.53.53 0 0 0 .112-.574.5.5 0 0 0-.193-.237.5.5 0 0 0-.294-.084" fill="%23fff"/></svg>');
            }
        }

        &--cons {
            .pros-cons__title {
                border-color: var(--cons, #ff3676);
            }
            .pros-cons__list li::before {
                content: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y=".667" width="16" height="16" rx="8" fill="%23FF3676"/><path d="m10.5 6.167-5 5m0-5 5 5" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            }
        }
    }

    &__title {
        color: var(--text-main, #2b2b2b);
        text-transform: uppercase;
        @include font-lg-medium-fix;

        padding-bottom: 12px;
        border-bottom: 1px solid var(--pros, #08d4ab);
    }

    &__list {
        @include flex(column, flex-start, flex-start, 16px);

        li {
            position: relative;
            padding-left: 24px;

            &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
            }
        }
    }

    @include media-max-mlg {
        flex-direction: column;
    }

    @include media-max-sm {
        margin-top: 16px;
    }
}
