@use "../settings" as *;

.scroll-list {
    overflow-x: auto;
    overflow-y: hidden;
    @include flex(row, stretch, flex-start, 16px);
    @include hideScrollbar;

    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    @include media-max-sm {
        margin-top: 16px;
    }
}
