@use "../settings" as *;

.scrolling .table {
    td,
    th {
        pointer-events: none;
    }
}

.table.js-scroll-list {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    @include hideScrollbar;

    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }

    @include media-max-sm {
        margin-top: 16px;
    }

    table {
        table-layout: auto;
        min-width: 500px;

        td {
            &:last-child {
                text-align: unset;
            }
        }
    }
}

table:not([class]),
table.wp-block-table {
    table-layout: fixed;
    thead {
        tr {
            @include trBorderRadius(8px);
            th {
                text-align: left;
                background: var(--accent-secondary, #eff8ff);
                color: var(--text-main, #2b2b2b);
                @include font-m-semibold;
            }
        }
    }

    tbody {
        tr {
            &:nth-of-type(even) {
                @include trBorderRadius(8px);
                td {
                    background: var(--card-secondary-bg, #f9f9f9);
                }
            }
        }
    }

    th,
    td {
        padding: 16px;
    }

    td {
        color: var(--text-secondary, #6b6b6b);

        &:first-child {
            color: var(--text-main, #2b2b2b);
            font-weight: 500;
        }
    }

    @include media-max-sm {
        td {
            &:last-child {
                text-align: right;
            }
        }
    }
}
