@use "../settings" as *;

.toc-section {
    @include relative();

    padding: 0;
    border-radius: var(--card-radius, 20px);
    background: var(--card-bg, #fff);

    @include flex(column, stretch, flex-start);

    &.active {
        .toc-section {
            &__title::after {
                transform: rotate(-180deg);
            }
            &__nav {
                display: block;
            }
        }
    }

    &__title {
        position: relative;
        @include flex(row, center, space-between, 16px);
        cursor: pointer;

        padding: 16px 24px;
        margin: 0;
        min-height: 60px;

        font-size: rem(20);
        line-height: 140%;
        font-weight: 600;
        color: var(--text-main, #2b2b2b);

        &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="m6 9 6 6 6-6" stroke="%232B2B2B" stroke-width="2.4" stroke-linecap="round"/></svg>');
            @include size(24px, 24px);
            display: block;
            transform-origin: center center;
            @include transition(transform);
        }

        @include media-max-sm {
            padding: 16px;
        }
    }

    &__nav {
        padding: 8px 24px 16px;
        display: none;

        @include media-max-sm {
            padding: 8px 16px 16px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px 32px;

        @include media-max-lg {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-max-mlg {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-max-md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-max-sm {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        @include relative;
        @include flex();

        a {
            position: relative;
            @include flex(row, center, center, 8px);

            color: var(--text-main, #2b2b2b);
            @include font-m;
            @include transition(color);

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 100%;
                transform: scaleX(0);
                transform-origin: center left;
                background: currentColor;

                @include transition(transform);
            }

            @include hoverActiveFocus {
                color: var(--link-color-hover, #3b8ffe);

                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
