mixin icon(name)
    if name === 'lang-arrow'
        include /img/svg/lang-arrow.svg
    if name === 'test'
        include /img/svg/test.svg
    if name === 'test2'
        include /img/svg/test2.svg
    if name === 'toc-arrow'
        include /img/svg/toc-arrow.svg