@use "settings" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-main, #2b2b2b);
    margin-bottom: 16px;
}

h3,
h4,
h5,
h6 {
    margin-top: 20px;

    @include media-max-sm {
        margin-top: 16px;
    }
}

p:not([class]),
ul:not([class]),
ol:not([class]) {
    a:not([class]) {
        color: var(--text-secondary, #6b6b6b);
        text-decoration: underline;
        @include transition(color);

        @include hoverActiveFocus {
            color: var(--link-color-hover, #3b8ffe);
            text-decoration: none;
        }
    }
}

p:not([class]) {
    margin-top: 16px;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    @include font-h1;
}

h2 {
    @include font-h2;
}

h3 {
    @include font-h3;
}

h4,
h5,
h6 {
    @include font-h4;
}

ul:not([class]),
ul.wp-block-list,
ol:not([class]),
ol.wp-block-list {
    margin-top: 16px;
    @include flex(column, flex-start, flex-start, 8px);

    &:first-child {
        margin-top: 0;
    }

    li {
        position: relative;
    }
}

ol:not([class]),
ol.wp-block-list {
    counter-reset: ol-default;

    li {
        counter-increment: ol-default;
        padding-left: 26px;

        &::before {
            position: absolute;
            content: counter(ol-default) ". ";
            width: 18px;
            left: 0;
            text-align: center;

            @include font-s-bold;
            color: var(--accent-base, #3b8ffe);
        }
    }
}

ul:not([class]),
ul.wp-block-list {
    li {
        padding-left: 19px;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background: var(--accent-base, #3b8ffe);
            transform: rotate(45deg) translateY(-50%);
        }
    }
}
