@use "settings" as *;

.wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--width-container));

    margin: var(--wrapper-margin) auto 0;
    padding: 20px;

    border-radius: var(--card-radius, 20px);
    background: var(--card-bg, #fff);

    & > img {
        margin-block: 20px 16px;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    & > .btn {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    @include mediaMax(1420px) {
        margin-inline: var(--offsets, 20px);
        max-width: calc(100% - var(--offsets, 20px) * 2);
    }

    @include media-max-md {
        & > .btn {
            width: 100%;
        }
    }

    @include media-max-sm {
        padding: 16px;
    }
}

.sidebar-grid {
    @include media-min-mlg {
        display: grid;
        grid-template-columns: 1fr 290px;

        width: 100%;
        max-width: calc(var(--width-container) + var(--offsets, 20px) * 2);

        margin: var(--wrapper-margin) auto 0;
        padding: 20px;
        column-gap: 15px;
        margin-top: calc(var(--wrapper-margin) * -1);

        & > * {
            grid-column: 1 / 2;
            max-width: 100%;
            min-width: 0;
            margin-inline: 0;
        }

        .sidebar {
            align-self: flex-start;
            grid-column: 2 / 3;
            grid-row: 1 / 100;
            position: sticky;
            top: 0;
            right: 0;
            width: 302px;
            padding-inline: 0;
        }
    }
}
